@font-face {
	font-family: 'icomoon';
	src:url('/font/icomoon.eot?hoa217');
	src:url('/font/icomoon.eot?#iefixhoa217') format('embedded-opentype'),
		url('/font/icomoon.woff?hoa217') format('woff'),
		url('/font/icomoon.ttf?hoa217') format('truetype'),
		url('/font/icomoon.svg?hoa217#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	width: 100%;
	margin: auto;
}

nav {
	background-color: lightgrey;


	ul {
		margin: 0;
		padding: 0;
		font-size: 0;


		li {
			width: 25%;
			display: inline-block;
			box-sizing: border-box;
			font-size: 1rem;

			list-style: none;

			border-right: 2px solid grey;
			background-color: darkgrey;

			&:last-of-type {
					border: none;
			}


			a {

				text-decoration: none;
				color: white;
				width: 100%;
				display: block;
				text-align: center;
				vertical-align: middle;
				height: 3em;
				line-height: 3em;

				&:visited {
					color: white;
				}
			}
		}
	}
}

//Recherche

.search-menu {
	text-align: center;
	padding: .5em 1em;
	line-height: 2em;
	background-color: lightgrey;
	border-bottom: 1px solid black;

	.sendsearch {
		display: inline-block;
	}

	#searchinput {
		width: 22%;
	}

	#more-search {
		text-decoration: none;
		margin: 0 10px;

		&:before {
			font-size: 1.5em;

			text-decoration: none;
			color: black;
			font-family: 'icomoon';
			content: "\e610";
		}
	}

	.advanced-search {
		text-align: left;

		#geoloc {
			margin-right: 20px;

			&:after {
				margin-left: 15px;

				font-size: 1.7em;
				text-decoration: none;
				color: #0085ff;
				font-family: 'icomoon';
				content: "\e604";
			}
		}


		#label_rayon {
			display: inline-block;
		}
	}
}


//Accueil

.categorie {
	display: block;
	text-align: center;
	h1 {
		padding: .1em 1em;
		background-color: rgba(0, 0, 0, 0.10);
	}
}

.sous-categorie {
	a {
		text-decoration: none;
// 		height: 300px;
	}

	img {
		width: 100%;
	}

	h4 {
		font-size: 1.1em;
	}

	width: 40%;
	max-width: 250px;
	box-sizing: border-box;
	border: 1px solid grey;
	margin: 10px;
	display: inline-block;

}

// Résultats de recherche
.annonce {

	display: block;
	padding: 1em 1em;
	border-bottom: 2px solid grey;

	.imgholder {
		width: 25%;
		display: inline-block;
		vertical-align: top;
		img {
			vertical-align: top;
			display: inline-block;
			width: 100%;
		}
	}


	div.contenu {


		overflow: hidden;

		width: 70%;
		display: inline-block;
		//Titre annonce
		h2 {
			vertical-align: top;
			font-size: 2em;
			margin-bottom: .5em;
		}

		//Description
		p.desc {
			display: block;
		}

		//Prix
		p.prix {

			display: inline-block;
		}


		div.action {
			margin-top: -1em;
			display: inline-block;
			float: right;
			clear: both;


			//Bouton d'ajout aux favoris
			div.like {
				color: red;
				display: inline-block;
				text-align: right;
				font-size: 2em;
				vertical-align: middle;
				margin-right: 10px;

				&:after {
					font-family: 'icomoon';
					content: "\e62a";
				}
			}

			//Bouton plus
			a.more {
				display: inline-block;
				line-height: 1em;
				vertical-align: middle;
			}

		}
	}
}

//Favoris
.liste-lien {
	text-align: center;
	ul {
		padding: 0;
		li {
			a {
				padding: 1em 0;
				display: block;
				width: 100%;
				height: 100%;
				margin: 0;
				text-decoration: none;
			}
			margin-bottom: 1em;
			list-style: none;
			box-sizing: border-box;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
		}
	}

	.logout {
		margin-top: 5em;
		background-color: rgba(239, 81, 81, 1);
		a {
			color: black;
		}
	}
}

//Compte
.preview-compte {
	margin: 25px 0;
	text-align: center;
	img {
		display: inline-block;
		vertical-align: middle;
	}

	.nom {
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		p {
			margin: 0;
			font-size: 2em;
			&:first-of-type {
				color: #0078ff;
				font-weight: bold;
			}

			&:nth-of-type(2) {

			}
		}
	}

		.info {
		display: none;
		}





}

//Édition de compte
.edition-compte {

	text-align: center;
	img {
		display: block;
		margin: auto;
		margin-top: 25px;
		margin-bottom: 15px;
	}

	input[type=file] {
		display: block;
		margin: auto;
		margin-bottom: 25px;
	}

	table {

		width: 80%;
		margin: auto;
		display: block;
		text-align: left;

		tbody {
			width: 100%;
			tr {
				width: 100%;

				th {
					text-align: right;
					padding-right: 5px;
				}

				td {
					textarea {
						width: 100%;
					}
					input {
						width: 100%;
					}
					width: 90%;
				}
			}
		}



		input {
			width: 100%;
		}
	}
}

//Création d'annonce
.vente {
	.photos {
		margin-top: 2em;
		text-align: center;

		img {
			margin-right: 5px;

			&.main {

			}
		}
	}

	form {
		text-align: center;

		input[type=file] {
			margin-bottom: 3em;
		}
	}

	table {

		width: 80%;
		margin: auto;
		tbody {
			width: 80%;
			tr {
				width: 100%;
				&:first-of-type {
					th {
						vertical-align: top;
					}
				}

				th {
					text-align: right;
				}
				td {
					input {
						width: 100%;
					}

					padding-left: 10px;
					text-align: left;
					width: 90%;
				}
			}
		}
	}
}



//Une annonce en détail
.detailsannonce {


	width: 80%;
	margin: auto;
	padding: 2em;
	img {
		margin-right: 5px;
	}
}


@media screen and (min-width:50em) {

	.detailsannonce {
		width: 50%;
	}

	.Liste-annonce {
		font-size: 0;
	}

	//Résultats de recherche
	.annonce {
		font-size: 1rem;
		display: inline-block;
		padding: 0;
		border-right: 2px solid grey;
		border-bottom: 2px solid grey;
		&:nth-child(even) {
			border-right: none;
		}
		width: 50%;
		box-sizing: border-box;
		margin: 0;

		.imgholder {
			height: 70px;
			width: 100%;
			overflow: hidden;
			img {
				width: 100%;
				min-height: 70px;
				margin-top: -40%;
			}
		}


		div.contenu {

			padding: 1em;
			overflow: hidden;
			box-sizing: border-box;

			width: 100%;
			display: inline-block;

		}
	}

	//Favoris
	.liste-lien {
		text-align: center;
		ul {
			font-size: 0;
			padding: 0;
			li {
				font-size: 1rem;
				display: inline-block;
				width: 33.3333333333%;
				a {

				}
				border: 1px solid black;
			}
		}
	}
}

@media screen and (min-width:62em) {
	.detailsannonce {
		width: 40%;
	}

	.liste-lien {
		width: 40%;
		margin: auto;
		display: inline-block;
		vertical-align: middle;
		ul{
			li{
				border: 1px solid black;
				padding: 0px 10px;
				border-radius: 100px;
			}
		}
	}

	.vente{
		table{
			width: auto;
			tbody{
				width: auto;
				tr{
					width: auto;
					td{
						width: auto;
						input{
							width: auto;
						}
					}
				}
			}
		}
	}

	.Liste-annonce {
		margin: auto;
		width: 75%;
		.annonce {
			width: 40%;
			max-width: 250px;
			box-sizing: border-box;
			border: 1px solid grey;
			margin: 10px;
			display: inline-block;
			.imgholder{
				height: auto;
			}
			&:nth-child(even) {
				border: 2px solid grey;
			}
		}
	}
	.preview-compte{
		display: inline-block;
		margin-left: 30%;
		margin-right: 5%;
		vertical-align: middle;
		.info{
			margin-top: 3em;
			display: block;
			border: 1px solid black;
		}
	}
	.liste-lien{


	}

	.edition-compte{
		.photo{
			display: inline-block;
		}
		table{
			margin-left: 5%;
			display: inline-block;
			width: auto;
			tbody{
				width: auto;
				tr{
					width: auto;
					th{
						width: auto;
					}
					td{
						textarea{
							width: auto;
						}
						input{
							width: auto;
						}
						width: auto;
					}
				}
			}
		}
	}

}
