//- compte.jade
doctype html
html
   head
      title Raccoin - Compte
      include ./includes/_head_default.jade
   body
      include ./includes/_menu.jade
      .preview-compte
         img(src='http://www.placehold.it/128x128', alt='Img Compte')
         .nom
             p
                | Alice
             p
                | Durand
          .info
             p
                | Ville : Bikini Bottom
             p
                | Code postal : 54000
             p
                | Pays : France
             p
                | Tél : 03 12 34 56 78
             p
                | Email : blanc
      .liste-lien
         ul
            li 
               a(href="liste.html") Mes annonces
            li 
               a(href="favoris.html") Mes recherches sauvegardées
            li
               a(href="edition_compte.html") Edition du compte
            li.logout
               a(href="#") Déconnexion
