//- index.jade
doctype html
html
   head
      title Raccoin - Detail
      include ./includes/_head_default.jade
   body
      include includes/_menu.jade
      div.detailsannonce
         h1 Titre annonce
            small par Alice
         img(src='http://www.placehold.it/400x300', alt='Img annonce')
         img(src='http://www.placehold.it/64x64', alt='Img annonce mini')
         img(src='http://www.placehold.it/64x64', alt='Img annonce mini')
         img(src='http://www.placehold.it/64x64', alt='Img annonce mini')
         h3 Prix
            small  2€
         h3 Description
         p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, nihil.
         h3 Région
         p Doubs
         a(href='#').btn.btn-small.btn-blue.hoveractive Ecrire à Alice
