//- edition_compte.jade
doctype html
html
	head
		title Raccoin - Edition Compte
		include ./includes/_head_default.jade
	body
		include ./includes/_menu.jade
		.edition-compte
			form(action='compte.html' method="post")
				.photo
					img(src='http://www.placehold.it/128x128', alt='Img compte')
					input(type='file', name='image', accept="image/*")
				table
					tbody
						tr
							th Nom
							td
								input(type='text', name='nom', placeholder='Nom', value="Durand")
						tr
							th Prénom
							td
								input(type='text', name='prenom', placeholder='Prénom', value="Alice")

						tr
							th Région
							td
								select(name='region')
									option(value='default') Région
									option(value='1') 1
									option(value='2', selected='selected') 2
									option(value='3') 3

						tr
							th Tél
							td
								input(type='tel', placeholder='Téléphone', value="0123456789")

						tr
							th Mail
							td
								input(type='email', name='mail', placeholder='user@domain.net', value="alice.d@laposte.net")

						tr
							th Mot de passe
							td
								input(type='password', name='password', placeholder="•••••••")
						tr
							th Confirmation
							td
								input(type='password', name='passwordcheck', placeholder="•••••••")
				p
					a(href='compte.html')
						button Annuler
					input(type='submit', value='Enregistrer')
