//- favoris.jade
doctype html
html
   head
      title Raccoin - Favoris
      include ./includes/_head_default.jade
   body
      include ./includes/_menu.jade
      include ./includes/_recherche.jade
      div.Liste-annonce
         div.annonce
            .imgholder
               img(src='http://www.placehold.it/64x64', alt='Img Annonce')
            div.contenu
               h2 Titre annonce
               p.desc
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.
               p.prix
                  strong 100€
               div.action
                  div.like(alt="Ajouter aux favoris", title="Ajouter aux favoris")
                  a(href='detail.html').more.btn.btn-small Plus
         div.annonce
            .imgholder
               img(src='http://www.placehold.it/64x64', alt='Img Annonce')
            div.contenu
               h2 Titre annonce
               p.desc
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.
               p.prix
                  strong 100€
               div.action
                  div.like(alt="Ajouter aux favoris", title="Ajouter aux favoris")
                  a(href='detail.html').more.btn.btn-small Plus
         div.annonce
            .imgholder
               img(src='http://www.placehold.it/64x64', alt='Img Annonce')
            div.contenu
               h2 Titre annonce
               p.desc
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.
               p.prix
                  strong 100€
               div.action
                  div.like(alt="Ajouter aux favoris", title="Ajouter aux favoris")
                  a(href='detail.html').more.btn.btn-small Plus
         div.annonce
            .imgholder
               img(src='http://www.placehold.it/64x64', alt='Img Annonce')
            div.contenu
               h2 Titre annonce
               p.desc
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.
               p.prix
                  strong 100€
               div.action
                  div.like(alt="Ajouter aux favoris", title="Ajouter aux favoris")
                  a(href='detail.html').more.btn.btn-small Plus
      .categorie
         h1 Mes recherches sauvegardées
         .liste-lien
             ul
                li
                    a(href="liste.html")
                        | "Recherche 1" en Lorraine (30-60€)
                li
                    a(href="liste.html")
                        | "Recherche 2" en Lorraine (30-60€)

