//- index.jade
doctype html
html
   head
      title Raccoin
      include ./includes/_head_default.jade
   body
      include ./includes/_menu.jade
      include ./includes/_recherche.jade
      div.liste-categories
         div.categorie
            h1 Multimédia
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Informatique
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Image et son
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Téléphonie
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Jeux vidéo
         div.categorie
            h1 Maison
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Jardin
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Décoration
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Art de la table
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Linge de maison
         div.categorie
            h1 Culture
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Livres
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Films
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Musique
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Art



