//- vendre.jade
doctype html
html
   head
      title Raccoin - Vendre
      include ./includes/_head_default.jade
   body
      include ./includes/_menu.jade
      .vente
         .photos
            img(src='http://www.placehold.it/128x128', alt='Img').main
            img(src='http://www.placehold.it/64x64', alt='Img')
            img(src='http://www.placehold.it/64x64', alt='Img')
         form(action='index.html' method="post")
            p
                | Image principale
            input(type='file', name='image', accept="image/*")
            table
                tbody
                     tr
                         th Description
                         td
                             textarea(cols="30", rows="10")
                     tr
                         th Prix
                         td
                             input(type="number")
                     tr
                         th Nom
                         td 
                             input(type='text', name='nom', placeholder='Nom', disabled="true", value="Durand")
                     tr
                         th Prénom
                         td
                             input(type='text', name='prenom', placeholder='Prénom', disabled="true" value="Alice")
                 
                     tr
                         th Région
                         td
                             select(name='region', disabled="true")
                                option(value='default') Région
                                option(value='1') 1
                                option(value='2', selected='selected') 2
                                option(value='3') 3
                         
                     tr
                         th Tél
                         td
                             input(type='tel', placeholder='Téléphone', disabled="true", value="0123456789")
                         
                     tr
                         th Mail
                         td
                              input(type='email', name='mail', placeholder='user@domain.net', value="alice.d@laposte.net", disabled="true")
                        
                     tr
                         th Mot de passe
                         td
                             input(type='password', name='password', disabled="true", placeholder="•••••••")
                     tr
                         th Confirmation
                         td
                             input(type='password', name='passwordcheck', disabled="true", placeholder="•••••••")
            p 
               input(type='submit', value='Enregistrer')
