link(href="css/crossbow.css" rel="stylesheet" type="text/css")
link(href="css/app.css" rel="stylesheet" type="text/css")
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
script(type="text/javascript" src="js/min/jquery-2.1.1.min.js")
script(type='text/javascript' src='js/min/app-min.js')