.search-menu
   form(action="liste.html" method="post")  
      input(type='text', placeholder='Recherche' name="recherche")#searchinput
      select(name='categorie')
         option(value="default" selected="selected") Catégorie
         option(value='1') Catégorie 1
         option(value='2') Catégorie 2
         option(value='3') Catégorie 3
         option(value='4') Catégorie 4
      a#more-search(href='#' title="Recherche avancée")
      input(type="submit").sendsearch
      .advanced-search
         select(name='region')#region
            option(value='selected') Région
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
         input(type='checkbox' title="Géolocalisation")#geoloc
         p#label_rayon
            | Rayon de recherche :
            input(type='number', placeholder='Rayon de recherche', step="10", min="0")#rayon
            | Km
         p.prix
            | Prix minimum :
            input(type='number', placeholder='Prix minimum', step="50", min="0")
            | €
         p.prix
            | Prix maximum :
            input(type='number', placeholder='Prix maximum', step="50", min="0")
            | €